# Files created by agents at run-time 
cmd/server/var/

# vscode project dir
.vscode/

# Compiled binary
cmd/server/server

# host storage for container
qpstore-data/
dbstore-data/
postgres-data/

# Scratch space
scratch/
